<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>App Properties XML</comment>

    <entry key="jdbc.driver">oracle.jdbc.driver.OracleDriver</entry>
    <entry key="jdbc.url">jdbc:oracle:thin:@172.16.7.116:1521:center</entry>
    <entry key="jdbc.username">center</entry>
    <entry key="jdbc.password">123456</entry>


    <entry key="hibernate.dialect">oracle.jdbc.driver.OracleDriver</entry>
    <entry key="hibernate.hbm2ddl.auto">update</entry>
    <entry key="hibernate.show_sql">true</entry>
    <entry key="hibernate.format_sql">true</entry>
    <entry key="hibernate.use_sql_comments">false</entry>

    <entry key="jdbc.h2.driver">org.h2.Driver</entry>
    <entry key="jdbc.h2.url">jdbc:h2:tcp://localhost/~/database/imark;mv_store=true</entry>
    <entry key="jdbc.h2.username">sa</entry>
    <entry key="jdbc.h2.password"></entry>

    <entry key="jdbc.mysql.driver">com.mysql.jdbc.Driver</entry>
    <entry key="jdbc.mysql.url"><![CDATA[jdbc:mysql://localhost:3306/imark?useUnicode=true&characterEncoding=utf-8]]></entry>
    <entry key="jdbc.mysql.username">root</entry>
    <entry key="jdbc.mysql.password">pwd123</entry>

</properties>