@CHARSET "UTF-8";


.tabs li a.tabs-inner{
	border-radius:0 0 0 0;
}

.l-btn{
	border-radius:0 0 0 0;
}

.textbox{
	border-radius:0 0 0 0;
}

.radioAlign input{vertical-align:middle; margin-bottom:6px; *margin-bottom:6px;}
