body{
	/* background-color: rgb(244, 251, 251); */
	
	font: 12px/150% 'Microsoft Yahei', 'simsun', 'ËÎÌå';
    color: #464646;
    background-color: #fff;
    word-break: break-all;
	
	
}


.datagrid-header{
	filter: none;
	background-color: rgb(244, 245, 249);
}

.datagrid-header-row{
	height: 38px;
	text-align: center;
}



.datagrid-header .datagrid-cell span {
  /**
  font-size: 14px;
  font-family: 'å¾®è½¯é›…é»‘', 'simsun', 'å®‹ä½“';**/
}

.l-btn{
	filter:none;
	
	
}