body{
  font: 12px/150% '微软雅黑', 'simsun', '宋体';
  color: #464646;
  background-color: #fff;
  word-break: break-all;
}



.container {
  padding: 10px;
}

.block {
  margin-bottom: 10px;
}
.block .head,
.block .body,
.block .foot {
  position: relative;
}
.block .head {
  height: 38px;
  border: 1px solid #d0d1d7;
  background-color: #f5f5f5;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
  background: linear-gradient(top, #fbfbfb, #f5f5f5);
  background: -ms-linear-gradient(top, #fbfbfb, #f5f5f5);
  background: -moz-linear-gradient(top, #fbfbfb, #f5f5f5);
  background: -webkit-linear-gradient(top, #fbfbfb, #f5f5f5);
  *display: block;
  background-color:rgb(255,255,255);
}
.block .head .toggle {
  display: block;
  margin: 11px 10px 0 0;
  float: right;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.block .head .toggle:hover {
  background-position: 0 -17px;
}
.block .head .toggle-expand {
  background-position: 0 -34px;
}
.block .head .toggle-expand:hover {
  background-position: 0 -51px;
}
.block .head h2 {
  float: left;
  padding-left: 12px;
  line-height: 38px;
  font-size: 14px;
  font-weight: normal;
}
.block .head .btns {
  padding: 4px 7px 0 0;
  padding: 4px 5px 0 0 \9;
  _padding: 4px 5px 0 0;
  float: right;
}
.block .head .btns .btn {
  margin: 0 3px;
  margin: 0 5px \9;
  _margin: 0 5px;
}
.block .head .head-icon {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background-image:url('../images/block-icon.png');
  background-repeat: no-repeat;
  vertical-align: middle;
}
.block .body {
  background-color: rgb(255,255,255);
  border: 1px solid #d0d1d7;
  border-top: none;
  *position: relative;
}
.block .body-only {
  border-top: 1px solid #d0d1d7;
}
.block .foot {
  background-color: #f9f9f9;
  border: 1px solid #d0d1d7;
  border-top: none;
  min-height: 44px;
  _height: 44px;
}

.block .head .icon-query {
  background-position: 0 0;
}
.block .head .icon-list {
  background-position: 0 -16px;
}

.arc {
  position: absolute;
  width: 4px;
  height: 4px;
  background-repeat: no-repeat;
}
.arc-tl {
  top: -1px;
  left: -1px;
  background-position: left top;
}
.arc-tr {
  top: -1px;
  right: -1px;
  background-position: right top;
}
.arc-bl {
  bottom: -1px;
  left: -1px;
  background-position: left bottom;
}
.arc-br {
  bottom: -1px;
  right: -1px;
  background-position: right bottom;
}
.block .head .arc {
  _display: none;
}
.block .body .arc {
  _display: none;
}
.block .head .toggle {
  
}
.block .head .head-icon {
}
.block .head h2 {
  _display: inline-block;
  _margin-top: 12px;
}
.block .head .no-icon {
  _margin-top: 0;
}

/* 常用元素 */
body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
lable,
textarea,
button,
pre,
blockquote,
img,
th,
td {
  margin: 0;
  padding: 0;
}

table{
	border-collapse:collapse;
}

/* 块内容 */
.block .body-form {
  padding: 10px;
}
/* 表单内容 */
.table-form {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}
.table-form .col-width th,
.table-form .col-width td {
  padding: 0;
  font-size: 0;
  height: 0;
}
.table-form .td-tit {
  width: 110px;
}
.table-form .td-btn {
  /*  width: 80px; */
  width: 100px;
  text-align: right;
}
.table-form th {
  font-size: 12px;
  font-weight: normal;
  text-align: right;
}
.table-form td {
  padding: 5px 0;
}


#queryBtn {
   	 background-color: #f4f5f9;
    border: 1px #e7e7eb solid;
    width: 93px;
    color: #333;
    text-align: center;
}

.icon-query{
   display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background-image:url('../images/block-icon.png');
  background-repeat: no-repeat;
  vertical-align: middle;
}


.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}


/* 按钮 ************************************************/
a.btn {
  display: inline-block;
  height: 30px;
  font-size: 14px;
  color: #666;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}
a.btn:hover {
  text-decoration: none;
}
a.btn .l,
a.btn .c,
a.btn .r {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  /**
   background-image: url('//192.168.57.20:8080/resources/img/exchange/btn-default.png');
  _background-image: url('//192.168.57.20:8080/resources/img/exchange/img-gif/btn-default.gif');**/
}
a.btn .l,
a.btn .r {
  background-repeat: no-repeat;
  width: 5px;
}
a.btn .l {
  background-position: 0 0;
}
a.btn .r {
  background-position: 0 -30px;
}
a.btn .c {
  padding: 0 10px;
  background-repeat: repeat-x;
  background-position: 0 -60px;
  min-width: 55px;
  line-height: 30px;
  text-align: center;
}
a.btn:hover .l,
a.btn:hover .c,
a.btn:hover .r {
 /*** background-image: url('//192.168.57.20:8080/resources/img/exchange/btn-default-hover.png');
  _background-image: url('//192.168.57.20:8080/resources/img/exchange/img-gif/btn-default-hover.gif');***/
}

/*表单输入框*/
select,
input,
textarea,
button {
  font: 14px/150% '微软雅黑', 'simsun', '宋体';
  color: #666;
  vertical-align: middle;
  padding: 1px 0;
  outline: none;
}


.form-control {
  margin-right: 0px;
}


.form-control .c .text {
	width:100%;
	height:20px;
	line-height:20px;
	margin: 0 0 0 -8px;
  	padding: 5px 8px;
  	/**border-width:medium;
  	border-color:inherit;
  	border-style: none;**/
}

.iradio{
	margin-left:15px;
	margin-right:8px;
	vertical-align:middle;
	display:inline-block;
}

.ilabel{
	font-size:14px;
	vertical-align:middle;
	display:inline-block;
}

/**************************************************************/

/* 控件 */
.form-control {
  margin-right: 0px;
}
.form-control .l,
.form-control .c,
.form-control .r {
  display: block;
  height: 30px;
  line-height:30px;
  vertical-align: top;
}
.form-control .l,
.form-control .r {
  background-repeat: no-repeat;
  width: 3px;
}
.form-control .l {
  float: left;
  background-position: 0 0;
}
.form-control .r {
  float: right;
  background-position: 0 -30px;
}
.form-control .c {
  overflow: hidden;
  padding: 0 5px;
  margin: 0 3px;
  background-repeat: repeat-x;
  background-position: 0 -60px;
}
.form-control .c .text {
  margin: 0 0 0 -8px;
  padding: 5px 8px;
  *padding: 4px 8px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background: none;
  border: none;
}
.form-textarea .hd,
.form-textarea .ft {
  overflow: hidden;
  height: 3px;
}
.form-textarea .l,
.form-textarea .r,
.form-textarea .c {
  display: block;
  overflow: hidden;
  height: 3px;
  vertical-align: top;
}
.form-control .l,
.form-control .r {
  background-repeat: no-repeat;
  width: 3px;
}
.form-control .hd .l {
  float: left;
  background-position: 0 0;
}
.form-control .hd .r {
  float: right;
  background-position: 0 -30px;
}
.form-control .hd .c {
  margin: 0 3px;
  background-repeat: repeat-x;
  background-position: 0 -60px;
}
.form-control .ft .l {
  float: left;
  background-position: 0 -27px;
}
.form-control .ft .r {
  float: right;
  background-position: 0 -57px;
}
.form-control .ft .c {
  margin: 0 3px;
  background-repeat: repeat-x;
  background-position: 0 -87px;
}

/*****/
.block .body {
    background-color: #fff;
}

.form-control {
    /* overflow: visible;
    margin: 0; */
    overflow: hidden;
    border: 1px #e7e7eb solid;
}

.form-control .c {
    /* margin: -16px 3px 0 3px; */
}

.form-control .l,
.form-control .c,
.form-control .r {
    background-image: none;
    _background-image: none;
}

.form-control .c .text {
    background: none;
}

.to {
  position: absolute;
  margin: 0 0 0 0;
  *top: 0;
  *left: 50%;
  font-family: Verdana;
  *margin-left: -37px;
  display: inline-block;
  height: 28px;
  width: 18px;
  border: 1px solid #b9bec1;
  background: #eee;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  vertical-align: top;
}

.form-range .c .text {
  *position: absolute;
  width: 50%;
  vertical-align: top;
}

.form-range .c .start {
  margin-left: -52px;
}
.form-range .c .end {
  margin-left: 20px;
  *left: 50%;
  *top: 0;
  *margin-left: -18px;
}

/************2015-10-26***************/
.form-btn {
  margin: 5px 0px 5px 0;
  text-align: center;
}

i.required {
  font-style: normal;
  color: #ff0000;
}

a.btn-primary {
    background-color: #ff9f50;
}

a.btn-primary:hover {
    background-color: RGB(240,130,29);
}

.mr10 {
    margin-right: 40px;
}

a.btn-primary .c{
	color:#fff;
}

.iform-btn {
  margin: 25px 0px 5px 0;
  text-align: left;
  margin-left:200px;
}


.form-textarea .l,
.form-textarea .r,
.form-textarea .c {
  display: block;
  overflow: hidden;
  height: 65px;
  vertical-align: top;
}

.form-textarea textarea {
  margin: -3px 0 -3px -8px;
  overflow-y: auto;
  padding: 5px 8px;
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  resize: none;
  _margin-left: -13px;
  _padding: 5px 0px 5px 5px;
}





